<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist/src/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Main API traffic -->
        <rule name="Main" stopProcessing="true">
          <match url="^(?!socket)(.*)" />
          <action type="Rewrite" url="dist/src/index.js" />
        </rule>
        <!-- Socket traffic -->
        <rule name="Socket.IO" stopProcessing="true">
          <match url="^socket/(.*)" />
          <action type="Rewrite" url="dist/src/index.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="web.config;*.js" />
  </system.webServer>
</configuration>